code_quality:
  stage: code_quality
  image: golang:{{ ctx.go_version | default('1.21') }}
  dependencies:
    - test
    - lint
  script:
    - go install github.com/SonarSource/sonar-scanner-cli/sonar-scanner@latest || true
    - sonar-scanner \
        -Dsonar.projectKey=${CI_PROJECT_NAME} \
        -Dsonar.sources=. \
        -Dsonar.host.url=${SONAR_HOST_URL} \
        -Dsonar.login=${SONAR_TOKEN} \
        -Dsonar.go.coverage.reportPaths=coverage.out \
        || true
  only:
    - merge_requests
    - main

