build:
  stage: build
  image: python:{{ ctx.python_version }}
  script:
    - pip install build || true
    - python -m build || true
  artifacts:
    when: on_success
    paths:
      - dist/
    expire_in: 1 hour
